[Unit]
Description=debug multibot service

Wants=network.target
After=syslog.target network-online.target

[Service]
Environment="PYTHONPATH=/home/debug/EasyShop"
Type=oneshot
WorkingDirectory=/home/debug/EasyShop/custom_bots
ExecStart=/home/debug/EasyShop/venv/bin/python3 /home/debug/EasyShop/custom_bots/multibot.py

[Install]
WantedBy=multi-user.target
