[Unit]
Description=bot service

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Environment="PYTHONPATH=/root/EasyShop"
WorkingDirectory={working_directory}
ExecStart={working_directory}/../../../venv/bin/python3 {working_directory}/main.py
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
