[Unit]
Description=channel multibot service

Wants=network.target
After=syslog.target network-online.target

[Service]
Environment="PYTHONPATH=/home/debug/Channel"
Type=oneshot
WorkingDirectory=/home/debug/Channel/custom_bots
ExecStart=/home/debug/Channel/venv/bin/python3 /home/debug/Channel/custom_bots/multibot.py

[Install]
WantedBy=multi-user.target
