[Unit]
Description=debug api service

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Environment="PYTHONPATH=/root/DebugEasyShop"
WorkingDirectory=/root/DebugEasyShop/api
ExecStart=/root/DebugEasyShop/venv/bin/python3 main.py
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
