@import "../../../shared/style/unification/unification.scss";

.input_title{
    font-family: $montserrat-semi-bold;
    font-size: $font-size-4;
    color: var(--text_color);
    margin-top: 20px;
    margin-left: 7px;
}

.textarea{
    @include textarea;
    margin-top: 8px;
    border: 2px solid rgb(0, 0, 0, 0)
}