@import "../../../shared/style//unification/unification.scss";

.text{
    font-family: $montserrat-medium;
    font-size: $font-size-4;
    color: $black-color;
    white-space: pre-line;
}









