@import "../../../shared/style//unification/unification.scss";

.text{
    font-family: $montserrat-medium;
    font-size: $font-size-4;
    white-space: pre-line;
    color: var(--text_color);
}









