@import "../../../shared/style//unification/unification.scss";

.text{
    font-family: $montserrat-regular;
    font-size: $font-size-4;
    color: $black-color;
}

.variant_container{
    display: flex;
    flex-direction: row;
    gap: 9px;
    width: max-content;
}

.top_item{
    display: flex;
    font-family: $montserrat-medium;
    color: $black-color;
    background-color: $gray-color-2;
    border-radius: $font-size-4;
    width: 75px;
    height: 64px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0, 0);
}

.bottom_item{
    display: flex;
    font-family: $montserrat-medium;
    color: $black-color;
    background-color: $gray-color-2;
    border-radius: $font-size-4;
    width: 75px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0, 0);
}

.item:hover{
    border: 2px solid $accent-color;
}

.variant_block{
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 2px solid rgb(0, 0, 0, 0);
}

.variant_block:hover{
    border: 2px solid $accent-color;
    border-radius: $font-size-4 + 3px;
}

.variant_container_scroll{
    overflow: visible;
    overflow-x: scroll;
    margin-inline: -16px;
    padding-inline: 16px;
    scrollbar-width: none;
}








