@import "../../../shared/style//unification/unification.scss";

.text{
    font-family: $montserrat-regular;
    font-size: $font-size-4;
    color: $black-color;
}

.variant_container{
    display: flex;
    flex-direction: row;
    gap: 9px;
    width: max-content;
}

.top_item{
    display: flex;
    font-family: $montserrat-medium;
    color: var(--text_color);
    background-color: var(--secondary_bg_color);
    border-radius: $font-size-4;
    width: 75px;
    height: 64px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0, 0);

    user-select: none; /* Для современных браузеров */
    -moz-user-select: none; /* Для Firefox */
    -webkit-user-select: none; /* Для Safari */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: none;
    touch-action: manipulation;
    outline: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.bottom_item{
    display: flex;
    font-family: $montserrat-medium;
    color: var(--text_color);
    background-color: var(--secondary_bg_color);
    border-radius: $font-size-4;
    width: 75px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0, 0);

    user-select: none; /* Для современных браузеров */
    -moz-user-select: none; /* Для Firefox */
    -webkit-user-select: none; /* Для Safari */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: none;
    touch-action: manipulation;
    outline: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.item:hover{
    border: 2px solid var(--button_color);
}

.variant_block{
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 2px solid rgb(0, 0, 0, 0);
    border-radius: $font-size-4 + 3px;

    user-select: none; /* Для современных браузеров */
    -moz-user-select: none; /* Для Firefox */
    -webkit-user-select: none; /* Для Safari */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: none;
    touch-action: manipulation;
    outline: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

// .variant_block:hover{
//     border: 2px solid accent-var(--button_color);
//     border-radius: $font-size-4 + 3px;
// }

.variant_block_active{
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 2px solid var(--button_color);
    border-radius: $font-size-4 + 3px;

    user-select: none; /* Для современных браузеров */
    -moz-user-select: none; /* Для Firefox */
    -webkit-user-select: none; /* Для Safari */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: none;
    touch-action: manipulation;
    outline: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.variant_container_scroll{
    overflow: visible;
    overflow-x: scroll;
    margin-inline: -16px;
    padding-inline: 16px;
    scrollbar-width: none;
}








