[Unit]
Description=bot service

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=oneshot
WorkingDirectory=/root/EasyShop/
ExecStart=/root/EasyShop/venv/bin/python3 /root/EasyShop/bot/main.py

[Install]
WantedBy=multi-user.target
