aiogram==3.4.1
asyncpg
SQLAlchemy
python-dotenv
aiojobs
pytest
pytest-asyncio
apscheduler
openpyxl
psycopg2-binary
APScheduler

sqlalchemy_filters
python-logging-loki

redis

matplotlib
numpy

pydantic-settings
