@import "../variables.scss";


@mixin gray-button{
    background-color: $gray-color;
    text-align: center;
    border-radius: $block-radius-1;
    color: $black-color;
    font-family: $montserrat-medium;
    font-size: $font-size-4;
    cursor: pointer;
    outline: none;

    -webkit-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.75);

    user-select: none; /* Для современных браузеров */
    -moz-user-select: none; /* Для Firefox */
    -webkit-user-select: none; /* Для Safari */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: none;
    touch-action: manipulation;

    &:focus {
        outline: none;
    }
}


@mixin accent-button{
    background-color: var(--button_color);
    text-align: center;
    border-radius: $block-radius-1;
    color: var(--text_color);
    font-family: $montserrat-medium;
    font-size: $font-size-4;
    cursor: pointer;
    outline: none;

    -webkit-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.75);

    user-select: none; /* Для современных браузеров */
    -moz-user-select: none; /* Для Firefox */
    -webkit-user-select: none; /* Для Safari */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: none;
    touch-action: manipulation;
    outline: none;

    &:focus {
        outline: none;
    }
}

@mixin input{
    border: none;        /* Убираем рамку */
    outline: none;      /* Убираем обводку при фокусе */
    background-color: var(--bg_color);
    border-radius: 15px;
    padding: 10;         /* Убираем отступы */
    padding-inline: 14px;
    padding-block: 15px;
    margin: 0;          /* Убираем внешние отступы */
    font: inherit;      /* Наследуем шрифт от родительского элемента */
    box-shadow: none;   /* Убираем тень */
    font-family: $montserrat-semi-bold;
    font-size: $font-size-3;
    color: var(--text_color);

    -webkit-appearance: none; /* удаляем стандартный стиль на Safari */
    -moz-appearance: none; /* удаляем стандартный стиль на Firefox */
    appearance: none; /* удаляем стандартный стиль */

    &::placeholder{
        color: $gray-color-6;
    }

        /* Дополнительные стили для браузеров */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none; /* Убираем стрелки у числового ввода */
        margin: 0; /* Убираем отступы */
    }

    &[type="number"] {
        -moz-appearance: textfield; /* Для Firefox, убираем стрелки */
    }
}

@mixin search_input {
    border: none;
    outline: none;
    background-color: var(--bg_color);
    border-radius: 17px;
    padding: 10px;
    padding-right: 14px;
    padding-left: 40px;
    padding-block: 9px;
    margin: 0;
    box-shadow: none;
    font-family: $montserrat-semi-bold;
    font-size: $font-size-3;
    color: var(--text_color);

    &::placeholder {
        color: $gray-color-3;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type="number"] {
        -moz-appearance: textfield;
    }
}

@mixin gray_input{
    border: none;        /* Убираем рамку */
    outline: none;      /* Убираем обводку при фокусе */
    background-color: var(--bg_color);
    border-radius: 15px;
    padding: 10;         /* Убираем отступы */
    padding-inline: 14px;
    padding-block: 10px;
    margin: 0;          /* Убираем внешние отступы */
    font: inherit;      /* Наследуем шрифт от родительского элемента */
    box-shadow: none;   /* Убираем тень */
    font-family: $montserrat-regular;
    font-size: $font-size-3;
    color: var(--text_color);

    &::placeholder{
        color: $gray-color-6;
    }

        /* Дополнительные стили для браузеров */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none; /* Убираем стрелки у числового ввода */
        margin: 0; /* Убираем отступы */
    }

    &[type="number"] {
        -moz-appearance: textfield; /* Для Firefox, убираем стрелки */
    }
}


@mixin textarea{
    border: none;        /* Убираем рамку */
    outline: none;      /* Убираем обводку при фокусе */
    background-color: $white-color;
    border-radius: 15px;
    padding: 10;         /* Убираем отступы */
    padding-inline: 14px;
    padding-block: 15px;
    margin: 0;          /* Убираем внешние отступы */
    font: inherit;      /* Наследуем шрифт от родительского элемента */
    box-shadow: none;   /* Убираем тень */
    font-family: $montserrat-semi-bold;
    font-size: $font-size-3;
    color: var(--text_color);
    resize: vertical;
    max-height: 40px;
    min-height: 20px;

    &::placeholder{
        color: $gray-color-6;
    }

        /* Дополнительные стили для браузеров */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none; /* Убираем стрелки у числового ввода */
        margin: 0; /* Убираем отступы */
    }

    &[type="number"] {
        -moz-appearance: textfield; /* Для Firefox, убираем стрелки */
    }
}

