*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #1E1E1E;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
