*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  touch-action: manipulation;
}

:root {
  --app-background-color-light: #E7E7E7;
  --app-background-color-dark: #0C0C0C;
  --app-card-background-color-light: #FFFFFF;
  --app-card-background-color-dark: #222222;
  --app-text-color-dark: #FFFFFF;
  --app-text-color-light: #111111;
  --app-button-bgcolor-light: #E7E7E7;
  --app-button-bgcolor-dark: #0C0C0C;
  --app-hr-border-color-light: #D9D9D9;
  --app-hr-border-color-dark: #3E3E3E;
}

@media (prefers-color-scheme: light) {
  :root {
    --app-background-color: var(--app-background-color-light);
    --app-card-background-color: var(--app-card-background-color-light);
    --app-text-color: var(--app-text-color-light);
    --app-button-bgcolor: var(--app-button-bgcolor-light);
    --app-hr-border-color: var(--app-hr-border-color-light)
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-background-color: var(--app-background-color-dark);
    --app-card-background-color: var(--app-card-background-color-dark);
    --app-text-color: var(--app-text-color-dark);
    --app-button-bgcolor: var(--app-button-bgcolor-dark);
    --app-hr-border-color: var(--app-hr-border-color-dark)
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--app-background-color);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  background: #0A1526;
}
::-webkit-scrollbar-thumb {
  scrollbar-width: thin;
  scrollbar-color: green black;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  border-radius: 20px;
  border: 3px solid #050c26;
}
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 8px;
  border: 3px solid #0A1526;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
