[Unit]
Description=release multibot service

Wants=network.target
After=syslog.target network-online.target

[Service]
Environment="PYTHONPATH=/root/EasyShop"
Type=oneshot
WorkingDirectory=/root/EasyShop/custom_bots
ExecStart=/root/EasyShop/venv/bin/python3 /root/EasyShop/custom_bots/multibot.py

[Install]
WantedBy=multi-user.target
